### Import pandas and numpy

In [1]:
import numpy as np 
import pandas as pd #ToDo

## Part 1

### 1.1 **Fetch and read book data**
In this assignment, we will be working with a dataset of books - https://raw.githubusercontent.com/iamsharduld/DSC207Datasets/main/Week3/books_hw.csv. As you may have noticed, the file type is csv - comma separated values. **Read this data into a pandas dataframe `books`.** (Hint - It might be useful to look into [documentation](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.read_csv.html) for read csv files. If you come across some 'bad' lines in the dataset, the parameter `error_bad_lines` may be useful)) [0.5pt]

In [ ]:
books = pd.read_csv('https://raw.githubusercontent.com/iamsharduld/DSC207Datasets/main/Week3/books_hw.csv',error_bad_lines=False)  #ToDo

### 1.2 **To verify that `books` contains data, print the first 10 rows of the dataset.** Verify the same with CSV file. [0.5pt]

In [ ]:
books.head(10) #ToDo

### 1.3 **Change Index to bookID**
In the above dataframe, you can see that there is an index before the first column `bookID`. Instead we can have bookID as the index for better searching and filtering. **Change the index of `books` to `bookID`.** (Hint - make sure the you are applying the changes to the same dataframe) [0.5pt]

In [4]:
books = books.set_index('bookID') #ToDo

### 1.4 To verify change in index, **print the first 10 rows of the updated dataframe `books`.** [0.5pt]

In [5]:
books.head(10) #ToDo

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

### 1.5 **Print the total samples(rows) in dataset.** [0.5pt]

In [6]:
books.iloc[:] #ToDo

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...
45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

## Part 2

### 2.1 **Filtering dataframes**

We may want the ability to get data based on certain criteria to perform analysis or derive statistics. **Get all rows from the dataframe `books` for which author is "J.R.R. Tolkien" and store it in `booksByTolkien`.** [0.5pt]

In [7]:
booksByTolkien = books[ books['authors'] == 'J.R.R. Tolkien'] #ToDo
booksByTolkien

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
30,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.59,0345538374,9780345538376,eng,1728,101233,1550,9/25/2012,Ballantine Books
31,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.50,0618517650,9780618517657,eng,1184,1710,91,10/21/2004,Houghton Mifflin Harcourt
34,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.36,0618346252,9780618346257,eng,398,2128944,13670,9/5/2003,Houghton Mifflin Harcourt
2331,The Lord of the Rings- 3 volumes set (The Lord...,J.R.R. Tolkien,4.50,0618574999,9780618574995,en-US,1438,232,9,6/1/2005,Mariner Books
5898,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.50,0007136587,9780007136582,eng,1200,682,43,9/16/2002,Not Avail
5907,The Hobbit or There and Back Again,J.R.R. Tolkien,4.27,0618260307,9780618260300,eng,366,2530894,32871,8/15/2002,Houghton Mifflin
5911,Poems From The Hobbit,J.R.R. Tolkien,4.30,0618009345,9780618009343,eng,57,169,5,12/13/1999,Houghton Mifflin Harcourt
5912,The Hobbit: Or There and Back Again,J.R.R. Tolkien,4.27,1594130051,9781594130052,eng,481,276,43,9/1/2003,Large Print Press
5915,The Hobbit,J.R.R. Tolkien,4.27,0261103288,9780261103283,eng,277,3213,329,9/17/2007,HarperCollins
7348,Tree and Leaf: Includes Mythopoeia and The Hom...,J.R.R. Tolkien,4.05,0007105045,9780007105045,eng,150,2357,97,2/5/2001,HarperCollins Publishers Ltd
15245,The Return of the King (The Lord of the Rings ...,J.R.R. Tolkien,4.53,0007171994,9780007171996,eng,554,265,5,11/6/2003,HarperCollins Publishers Ltd
15298,The Return of the King (The Lord of the Rings ...,J.R.R. Tolkien,4.53,0618574972,9780618574971,en-US,508,1635,74,6/1/2005,Mariner Books
15331,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.36,0618574948,9780618574940,eng,506,1323,121,6/1/2004,Houghton Mifflin Company
15336,The Lord of the Rings / The Hobbit,J.R.R. Tolkien,4.59,0007144083,9780007144082,eng,1600,141,5,10/7/2002,Collins Modern Classics
15373,The Return of the King (The Lord of the Rings ...,J.R.R. Tolkien,4.53,0965307794,9780965307796,eng,440,202,10,1/1/2001,Quality Paperback Book Club
15407,The Lord of the Rings Millennium Edition Boxed...,J.R.R. Tolkien,4.50,0618037667,9780618037667,eng,1472,120,5,10/10/1999,Houghton Mifflin
23603,Tales from the Perilous Realm,J.R.R. Tolkien,4.08,0007149123,9780007149124,eng,178,3242,162,9/2/2002,HarperCollins Publishers

### 2.2 **Print the sum of `rating_counts` in `booksByTolkien`.** [0.5pt]

In [8]:
booksByTolkien['ratings_count'].sum(axis = 0)#ToDo

4776638

### 2.3 **Data analysis using dataframes**

Since a dataframe is a collection of large amounts of data, often dealing with numeric data. This data can be used to create aggregations, which is very useful in deriving actionable insights.

**Mean - Find average rating of all books present in the dataset.** [0.5pt]

In [9]:
books["average_rating"].mean()

3.9340753393868564

### 2.4 **Average rating of books written by "J.K. Rowling"**

Use the ability of filtering dataframes and find the mean of the filtered dataframe. [1pt]

In [10]:
booksByTolkien["average_rating"].mean() #ToDo

4.395882352941177

## Part 3

### 3.1 **How many unique authors are present in this dataset?**
(Hint - is there a function to do this?) [0.5pt]

In [11]:
len(books.authors.unique()) #ToDo
#books.authors.value_counts()

6639

### 3.2 **What is the maximum average rating for a book in the dataset?**
**Store the result in `maxRating`. Print `maxRating`.** [0.5pt]

In [12]:
maxRating = books["average_rating"].max() #ToDo
maxRating

5.0

### 3.3 **Authors of the books which are rated maximum**
One sample data analysis task would be to find the authors who have high rated books. This information could be of great use to a publisher or book store chain.


**Store the author name, book title and average rating of the books who have maximum rating, in a dataframe `maxRatedAuthors`. Print `maxRatedAuthors`.** [0.5pt]

In [13]:
maxRatedAuthors = books[ books['average_rating'] == maxRating ]  #ToDo
maxRatedAuthors = maxRatedAuthors[["authors", "title", "average_rating"] ]
print(maxRatedAuthors) #ToDo

                                                  authors  \
bookID
2034                  Aristophanes/F.W. Hall/W.M. Geldart
2560                      Julie Sylvester/David Sylvester
2843                                       Tara MacCarthy
4287                 Middlesex Borough Heritage Committee
14741                                          Tim Bogenn
17224                                       John  Diamond
17830                                     Elena N. Mahlow
18184                     Ian        Martin/Katie Elliott
19786                                          NOT A BOOK
19788                                          NOT A BOOK
20954                            Dennis Adler/R.L. Wilson
20957                                      R. McL. Wilson
23276                                        Ross Garnaut
23552                                Todd Davis/Marc Frey
25426                     Nicholas    Evans/Rhonda  Evans
32823    Chris    Green/Chris Wright/Paul Douglas Gardner
36492                                  William C. Dowling
36853   Laura Driscoll/Alisa Klayman-Grodsky/Eric     ...
38804                                       Keith Donohue
39580                                   James E. Campbell
39829                                 Sheri Rose Shepherd
41639                                    Sara Barton-Wood

                                                    title  average_rating
bookID
2034    Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...             5.0
2560                    Willem de Kooning: Late Paintings             5.0
2843    Literature Circle Guide: Bridge to Terabithia:...             5.0
4287    Middlesex Borough (Images of America: New Jersey)             5.0
14741   Zone of the Enders: The 2nd Runner Official St...             5.0
17224   The Diamond Color Meditation: Color Pathway to...             5.0
17830   Bulgakov's the Master and Margarita: The Text ...             5.0
18184   The Complete Theory Fun Factory: Music Theory ...             5.0
19786   The Goon Show  Volume 4: My Knees Have Fallen ...             5.0
19788   The Goon Show  Volume 11: He's Fallen in the W...             5.0
20954                                 Winchester Shotguns             5.0
20957   Colossians and Philemon: A Critical and Exeget...             5.0
23276                           Taxation of Mineral Rents             5.0
23552                         The New Big Book of America             5.0
25426   Delwau Duon: Peintiadau Nicholas Evans = Symph...             5.0
32823        Fanning the Flame: Bible  Cross  and Mission             5.0
36492   Oliver Wendell Holmes in Paris: Medicine  Theo...             5.0
36853                  Tyrannosaurus Wrecks (Stanley  #1)             5.0
38804       The Irish Anatomist: A Study of Flann O'Brien             5.0
39580   The American Campaign: U.S. Presidential Campa...             5.0
39829   His Princess Devotional: A Royal Encounter Wit...             5.0
41639          Bill Gates: Computer Legend (Famous Lives)             5.0

### 3.4 **Print the number of max rated authors.** [0.5pt]

In [14]:
len(maxRatedAuthors) #ToDo

22

### 3.5 **List books whose rating count is greater than 2000 and average rating is more than 4.70**

**Store this into a dataframe `popularBooks`. Print `popularBooks`.** [0.5pt]

In [15]:
popularBooks = books [ (books['ratings_count'] > 2000) & (books['average_rating'] > 4.70) ] #ToDo
print(popularBooks)

                                                    title  \
bookID
8       Harry Potter Boxed Set  Books 1-5 (Harry Potte...
10           Harry Potter Collection (Harry Potter  #1-6)
24812                      The Complete Calvin and Hobbes
24814       It's a Magical World (Calvin and Hobbes  #11)
24816   Homicidal Psycho Jungle Cat (Calvin and Hobbes...
24820   Calvin and Hobbes: Sunday Pages 1985-1995: An ...

                           authors  average_rating        isbn         isbn13  \
bookID
8       J.K. Rowling/Mary GrandPré            4.78  0439682584  9780439682589
10                    J.K. Rowling            4.73  0439827604  9780439827607
24812               Bill Watterson            4.82  0740748475  9780740748479
24814               Bill Watterson            4.76  0836221362  9780836221367
24816               Bill Watterson            4.72  0836217691  9780836217698
24820               Bill Watterson            4.71  0740721356  9780740721359

       language_code    num_pages  ratings_count  text_reviews_count  \
bookID
8                eng         2690          41428                 164
10               eng         3342          28242                 808
24812            eng         1456          32213                 930
24814            eng          176          23875                 303
24816            eng          176          15365                 290
24820            eng           96           3613                  85

       publication_date                  publisher
bookID
8             9/13/2004                 Scholastic
10            9/12/2005                 Scholastic
24812          9/6/2005  Andrews McMeel Publishing
24814          9/1/1996  Andrews McMeel Publishing
24816          9/6/1994  Andrews McMeel Publishing
24820         9/17/2001  Andrews McMeel Publishing

### 3.6 **Describe the dataset**
We want to use statistics to get a general idea of the dataframe and its numerical values.

**Using [describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html), provide the counts, mean, standard deviation, mins, percentiles and maxs of the dataframe `popularBooks`**. [0.5pt]

In [16]:
popularBooks.describe() #ToDo

,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,6.000000,6.000000e+00,6.000000,6.000000,6.000000
mean,4.753333,9.780672e+12,1322.666667,24122.666667,430.000000
std,0.041793,1.850730e+08,1421.230828,13261.232622,351.679968
min,4.710000,9.780440e+12,96.000000,3613.000000,85.000000
25%,4.722500,9.780515e+12,176.000000,17492.500000,195.500000
50%,4.745000,9.780741e+12,816.000000,26058.500000,296.500000
75%,4.775000,9.780812e+12,2381.500000,31220.250000,681.750000
max,4.820000,9.780836e+12,3342.000000,41428.000000,930.000000

## Part 4

### 4.1 **Which are 7 most popular book languages(language_code) in this dataset?**
**Print the `language_code` and count of the 7 highest occuring languages in the dataset.** (Hint - `<dataframe>.<column-name>` gives you a series. With this, can you use [value_counts()](https://https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) to get the answer? ) [1pt]

In [17]:
language_code = books.language_code.value_counts() #ToDo
print(language_code.head(7))

eng      8908
en-US    1408
spa       218
en-GB     214
fre       144
ger        99
jpn        46
Name: language_code, dtype: int64

### 4.2 **Find number of books that have an average rating within 2 standard deviations from mean average rating of the entire dataset.** 
[Standard deviation](https://en.wikipedia.org/wiki/Standard_deviation) tells you how spread out the data is. It is a measure of how far each observed value is from the mean. In any distribution, about 95% of values will be within 2 standard deviations of the mean.
Hence, for the given task, we want to find the number of books who have an average rating from `mean-2*std_dev` to `mean+2*std_dev`. [1pt]

In [18]:
mean = books['average_rating'].mean()
std_dev = books['average_rating'].std()
Stdv_books = books[ (books['average_rating'] >= mean-2*std_dev) & (books['average_rating'] <= mean+2*std_dev)]   #ToDo
print(len(Stdv_books))

10854

### 4.3 **Find books with language code as 'ger' and whose publication date is between 2001 and 2005. (Optional)**
(Hint - How do we get the year from the publication date in its current form? Can we use [pd.to_datetime](https://https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) to extract what we need for this task?)

In [19]:
#ToDo